{
    email {$ACME_EMAIL}
}

{$JUPYTER_RL_2048_DOMAIN} {
    basic_auth {
        {$BASIC_AUTH_USER} {$BASIC_AUTH_HASH}
    }
    reverse_proxy jupyter-rl-2048:8888
}

{$JUPYTER_KURPATOV_WIKI_DOMAIN} {
    basic_auth {
        {$BASIC_AUTH_USER} {$BASIC_AUTH_HASH}
    }
    reverse_proxy jupyter-kurpatov-wiki:8888
}

{$MLFLOW_DOMAIN} {
    basic_auth {
        {$BASIC_AUTH_USER} {$BASIC_AUTH_HASH}
    }
    reverse_proxy mlflow:5000
}

{$INFERENCE_DOMAIN} {
    reverse_proxy vllm-inference:8000 {
        transport http {
            response_header_timeout 600s
            read_timeout 600s
        }
    }
}
